.card {
  margin-top: 3px;
  margin-bottom: 25;
  background: transparent;
  border: 1px solid var(--Color-Gray-07, #BFBFBF);
  box-shadow: none;
  border-radius: 16px;
  padding: 24px;
}

.head {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.title {
  font-size: 20px;
  font-weight: 900;
  color: var(--Color-Brand-brand-primary-Base, #6A3DF6);
  font-family: "Noto Sans KR";
}

.icon {
  width: 22px;
  height: 22px;
}

.body {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
  color: black;
  font-family: "Noto Sans KR";
}
