/* globals.css */
/* 기본 여백 제거 */
html,
body {
  margin: 0;
  padding: 0;

  background: #f5f5f5 !important;
  min-height: 100%;
}

/* box-sizing 통일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본 폰트만 지정 */
body {
  color: #111;
}

/* 링크 기본 스타일 제거 (색/굵기는 각 컴포넌트에서) */
a {
  text-decoration: none;
  color: inherit;
}

/* 폼 요소에서 폰트 상속받도록 */
button,
input,
textarea,
select {
  font-family: inherit;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #111;
}

.font-gmarket {
  font-family: "GmarketSans", sans-serif;
}

/* src/styles/globals.css */
@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
