/* 카드 전체 */
.cardWrapper {
  width: 282px;
  height: 336px;

  /* 비대칭 둥근 모서리 반영 */
  border-radius: 16px 16px 32px 32px;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  padding: 24px 0 8px 0;
  margin: 0;

  position: relative;
}

/* --- 헤더 (D-Day + 북마크) --- */
.headerRow {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 0 24px;
  margin-bottom: 24px;

  box-sizing: border-box;
}

.ddayBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: auto;
  min-width: 48px;
  height: 24px;
  box-sizing: border-box;

  border-radius: 100px;
  background-color: #fff;

  border: 1.5px solid #767676;

  color: #767676;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;

  white-space: nowrap;
}

/* 조기마감인 경우 */
.ddayWide {
  min-width: 64px;
  padding: 0 8px; /* 여백 살짝 증가 */
}

/* D-7*/
.ddayRed {
  border-color: #f60909;
  color: #f60909;
}

.bookmarkBtn {
  width: 24px;
  height: 24px;

  background: transparent;

  border: none;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* --- 정보 그룹 (날짜 + 제목) --- */
.infoGroup {
  width: 100%;

  padding: 0 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  gap: 12px;

  flex: 1;
}

.date {
  font-size: 12px;
  font-weight: 500;
  color: #999;

  line-height: 12px;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  color: #111;

  line-height: 1.4;
  letter-spacing: -0.02em;

  /* 3줄 말줄임 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  min-height: 84px;
}

/* --- 카테고리 감싸는 div --- */
.categoryWrapper {
  margin-top: auto;
  margin-bottom: 24px;

  padding: 0 18px;
  box-sizing: border-box;
  width: 100%;

  justify-content: flex-start;

  display: flex;
}

/* --- 카테고리 뱃지 --- */
.categoryBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 10px;
  border-radius: 4px;

  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;

  margin-top: 0;
  margin-bottom: 0;
}

/* ---------- 하단 영역 ---------- */
.bottomBar {
  width: calc(100% - 16px);
  height: 48px;

  flex-shrink: 0;

  border-radius: 100px;
  background-color: #eaedff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto 8px 0 8px;
  padding: 0 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);

  text-decoration: none;
}

/* 동의자 수 정보 */
.agreeInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
  font-weight: 500;
  color: #6a3df6;
}

.bottomBar:hover {
  border-color: #5f37dd;
}

/* 동의자 수, 화살표 아이콘*/
.checkIcon,
.arrowIcon {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  flex-shrink: 0;
}
