.toast {
  position: fixed;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);

  width: min(294px, calc(100% - 32px));
  height: 44px;

  max-width: 527px;
  min-width: 0;
  box-sizing: border-box;

  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  gap: 8px;
  padding: 0 24px;
  border-radius: 100px;
  background: rgba(106, 61, 246, 0.60);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  white-space: nowrap;
  box-sizing: border-box;

  color: #fff;
  font-weight: 500;
  font-size: 14px;
  z-index: 9999;

  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.toastIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.toastHide {
  opacity: 0;
  transform: translateX(-50%) translateY(8px);
  pointer-events: none;
}
