.card {
    margin-top: 148px;
    width: 100%;
  }
  
  .head {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 0;              
    margin-bottom: 28px;
  }
  
  .badge {
    position: relative;
    z-index: 2;
  
    height: 34px;
    padding: 0 10px;
  
    display: inline-flex;
    align-items: center;
  
    background: #00a908;
    color: #fff;
  
    font-size: 16px;
    font-weight: 800;
    font-family: "Noto Sans KR";
 
    border-radius: 8px 8px 0 0; 
  }
  
  
  .rule {
    position: relative;
    z-index: 1;
  
    height: 4px;   
    flex: 1;
  
    background: #00a908;
    border-radius: 0 999px 999px 0; 
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }
  
  .itemTitle {
    font-size: 18px;
    font-weight: 700;
    color: #00A908;
    font-family: "Noto Sans KR";
    margin-bottom: 12px;
  }
  
  .itemDesc {
    margin: 0;
    font-size: 14px;
    line-height: 1.9;
    font-weight: 700;
    color: #111;
    font-family: "Noto Sans KR";
  }
  
  .tags {
    margin-top: 34px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  
  .tag {
    display: inline-flex;
    align-items: center;
    height: 34px;
    padding: 0 14px;
    border-radius: 10px;
    background: #eaf7ef;
    color: #52a26f;
    font-size: 14px;
    font-weight: 800;
    font-family: "Noto Sans KR";
  }
  