.wrap {
    margin-top: 64px;
    padding-bottom: 60px;
  }
  
  .divider {
    height: 1px;
    background: #e6e6e6;
    margin: 0 0 64px;
  }
  
  .text {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.9;
    color: #777;
    margin: 0;
  }
  